$pri : #1a4cf0;
$pril : #5aafff;
$second : #6f19bf;
$gray : #c1c1c9;
$grayw : #f4f4ff;
$grayw2 : #efeff5;
$grayb: #a1a1a9;
$grayb2: #c5c5cf;
$black : #000;
$blackw : #414149;
$blackw2 : #818991;
$red : #fa5660;
$ease : cubic-bezier(0.065, 0.695, 0.060, 1.015);
